<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나만의 다이어리 프로젝트!</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



    <!-- google web font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Noto+Sans+KR&display=swap" rel="stylesheet">


    <style>
        body {
            /* border: 3px solid black; */
            font-family: 'Nanum Brush Script', cursive;
        }

        .head-area {
            /* border: 3px solid black; */
        }

        .body-area {
            /* border: 3px solid black; */
        }

        /* .head-area {
            width: 500px;
            margin: auto;
            padding: 25px;
            border: 3px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            border text-align: center;
        } */
    </style>

    <script>
        // $(document).ready(function () {
        //     // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
        //     // $('#star-box').html('');
        //     basic_html();
        // });
    </script>
</head>

<body>
    <div class='head-area'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" \ style="color: gray">Diary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="index.html">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="today.html">오늘 하루</a>
                    <a class="nav-item nav-link" href="calendar.html" onclick="calendar_func()">캘린더</a>
                    <a class="nav-item nav-link" href="lifegraph.html" onclick="lifegraph_func()">인생그래프</a>
                    <a class="nav-item nav-link" href="my_emotion.html" onclick="my_emotion_func()">나의 감정</a>
                </div>
            </div>
        </nav>
    </div>


    <div class='body-area'>
        <img class="img-thumbnail"
            src="https://st2.depositphotos.com/2605379/7469/i/950/depositphotos_74690631-stock-photo-blank-diary-and-coffee-cup.jpg"
            alt="My Image">
        <div class="home-description">
            <h2 sytle="fond-size:20px">다이어리</h2>
            <h4>
                나만의 다이어리 공간입니다.
                <br>
                여기에 하루를 기록하세요.
                <br>
                하루가 모여 한달이, 일년이, 인생이 그려집니다.
            </h4>
        </div>

    </div>


</body>

</html>