<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나만의 다이어리 프로젝트!</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- chart.js 를 import 합니다 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <!-- daterangepicker를 import 합니다 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <!-- google web font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Noto+Sans+KR&display=swap" rel="stylesheet">


    <style>
        body {
            border: 3px solid black;
            font-family: 'Nanum Brush Script', cursive;
        }

        .head-area {
            /* border: 3px solid black; */
        }

        .body-today-area {
            /* border: 3px solid black; */
        }

        .body-area {
            /* border: 3px solid black; */
        }

        .date-between {
            /* border: 3px solid black; */
            display: inline-block;
            margin: 1%;
            width: 30%;
        }

        .select-unit {
            /* border: 3px solid red; */
            display: inline-block;
            margin: 1%;
            width: 65%;
            text-align: right;


        }

        .chart-area {
            width: 80%;
            padding: 5%;
            margin-left: 10%;
            position: center;
            text-align: center;
            /* style="width:800px" */
        }

        .button-mode {
            color: #fff;
            background: lightblue;
            border-radius: 0.5em;
            /* font-size:2em; */
            /* padding:5px 20px; */
        }

        .active-button-mode {
            color: #fff;
            background: rgb(0, 68, 255);
            border-radius: 0.5em;
        }




        /* .head-area {
            width: 500px;
            margin: auto;
            padding: 25px;
            border: 3px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            border text-align: center;
        } */
    </style>

    <script>

        function render_chart(date_list, emotion_index_list, emotion_keyword_list) {
            // 우선 컨텍스트를 가져옵니다. 
            var ctx = document.getElementById("myChart").getContext('2d');
            /*
            - Chart를 생성하면서, 
            - ctx를 첫번째 argument로 넘겨주고, 
            - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
            */
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: date_list,
                    // labels: ['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-30'],
                    datasets: [{
                        label: 'Emotion Index of the day',
                        data: emotion_index_list,
                        // data: [10, 9, 5, 8, 1],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                    scales: {
                        // xAxes: [{
                        //     type: 'time',
                        //     time: {
                        //         parser: 'MM/DD/YYYY',
                        //         unit: 'day'
                        //         displayFormats: {
                        //             'day': 'MM/DD/YYYY'
                        //         }
                        //     }
                        //     // ticks: {
                        //     //     suggestedMin: '2020-03-01',
                        //     //     suggestedMax: '2020-05-01'
                        //     // }
                        // }],
                        // xAxis: [{
                        //     display: true,
                        //     type: 'time',
                        //     time: {
                        //         parser: 'MM/DD/YYYY HH:mm',
                        //         tooltipFormat: 'll HH:mm',
                        //         unit: 'day',
                        //         unitStepSize: 1,
                        //         displayFormats: {
                        //             'day': 'MM/DD/YYYY'
                        //         }
                        //     }
                        //  }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 10
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        duration: 1,
                        colors: 'red',
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    // var data = [1, 2, 3];
                                    ctx.fillText(emotion_keyword_list[index], bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }
                }
            });
        }

        function daily_button() {
            $('#daily-button').attr({ 'class': 'active-button-mode' })
            $('#monthly-button').attr({ 'class': 'button-mode' })
            $('#yearly-button').attr({ 'class': 'button-mode' })
            expression_mode = 'daily'
            final_draw_graph()
        }
        function monthly_button() {
            $('#daily-button').attr({ 'class': 'button-mode' })
            $('#monthly-button').attr({ 'class': 'active-button-mode' })
            $('#yearly-button').attr({ 'class': 'button-mode' })
            expression_mode = 'monthly'
        }
        function yearly_button() {
            $('#daily-button').attr({ 'class': 'button-mode' })
            $('#monthly-button').attr({ 'class': 'button-mode' })
            $('#yearly-button').attr({ 'class': 'active-button-mode' })
            expression_mode = 'yearly'
        }

        function final_draw_graph() {
            $.ajax({
                type: 'POST',
                url: '/api/lifegraph',
                data: {
                    'start_date': start_date,
                    'end_date': end_date,
                    'expression_mode': expression_mode
                },
                success: function (response) {
                    render_chart(response['date_list'], response['emotion_index_list'], response['emotion_keyword_list'])

                }
            })
        }



    </script>
</head>


<body>
    <div class='head-area'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" \ style="color: gray">Diary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="today.html">오늘 하루</a>
                    <a class="nav-item nav-link" href="calendar.html" onclick="calendar_func()">캘린더</a>
                    <a class="nav-item nav-link active" href="lifegraph.html" onclick="lifegraph_func()">인생그래프</a>
                    <a class="nav-item nav-link" href="my_emotion.html" onclick="my_emotion_func()">나의 감정</a>
                </div>
            </div>
        </nav>
    </div>

    <div class='head-button-area'>
        <div class='date-between'>
            date
            <input type="text" name="daterange" value="04/01/2020 - 04/30/2020" />
        </div>
        <div class='select-unit'>
            <button class='active-button-mode' id='daily-button' onclick="daily_button()">Daily</button>
            <button class='button-mode' id='monthly-button' onclick="monthly_button()">Monthly</button>
            <button class='button-mode' id='yearly-button' onclick="yearly_button()">Yearly</button>

        </div>




    </div>



    <div class='chart-area'>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var expression_mode = 'daily'
        var start_date = '2020-04-01'
        var end_date = '2020-04-30'

        final_draw_graph()

        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                start_date = start.format('YYYY-MM-DD')
                end_date = end.format('YYYY-MM-DD')
                final_draw_graph()
            });
        });




    </script>


</body>

</html>